src/main/resources/xml/sepa26.tp1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://univ.fr/sepa"
    xmlns="http://univ.fr/sepa"
    elementFormDefault="qualified">

    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
            <xs:pattern value="[^/]+(/[^/]+)*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Amount">
        <xs:simpleContent>
            <xs:extension base="DecimalNumber">
                <xs:attribute name="Ccy" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IBANType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}[0-9]{2}[A-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BICType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3})?"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="CmpsdIdt">
        <xs:sequence>
            <xs:element name="Id">
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="IBAN" type="IBANType"/>
                        <xs:element name="PrvtId">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Othr">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Id" type="Max35Text"/>
                                                <xs:element name="SchmeNm">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Prtry" type="xs:string" fixed="SEPA"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CmpsdAgt">
        <xs:sequence>
            <xs:element name="FinInstnId">
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="BIC" type="BICType"/>
                        <xs:element name="Othr">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Id" type="Max35Text"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CstmrDrctDbtInitn">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="GrpHdr">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MsgId" type="Max35Text"/>
                                        <xs:element name="CreDtTm" type="xs:dateTime"/>
                                        <xs:element name="NbOfTxs" type="Max15NumericText"/>
                                        <xs:element name="CtrlSum" type="DecimalNumber"/>
                                        <xs:element name="InitgPty">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Nm" type="Max35Text"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="PmtInf" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="PmtInfId" type="Max35Text"/>
                                        <xs:element name="PmtTpInf">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="SvcLvl"><xs:complexType><xs:sequence><xs:element name="Cd" type="xs:string" fixed="SEPA"/></xs:sequence></xs:complexType></xs:element>
                                                    <xs:element name="LclInstrm"><xs:complexType><xs:sequence><xs:element name="Cd" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
                                                    <xs:element name="SeqTp" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="ReqdColltnDt" type="xs:date"/>
                                        <xs:element name="Cdtr">
                                            <xs:complexType><xs:sequence><xs:element name="Nm" type="Max35Text"/></xs:sequence></xs:complexType>
                                        </xs:element>
                                        <xs:element name="CdtrAcct" type="CmpsdIdt"/>
                                        <xs:element name="CdtrAgt" type="CmpsdAgt"/>
                                        <xs:element name="CdtrSchmeId" minOccurs="0" type="CmpsdIdt"/>
                                        
                                        <xs:element name="DrctDbtTxInf" maxOccurs="10">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="PmtId" type="Max35Text"/>
                                                    <xs:element name="InstdAmt" type="Amount"/>
                                                    <xs:element name="DrctDbtTx">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="MndtRltdInf">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="MndtId" type="Max35Text"/>
                                                                            <xs:element name="DtOfSgntr" type="xs:date"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="DbtrAgt" type="CmpsdAgt"/>
                                                    <xs:element name="Dbtr">
                                                        <xs:complexType><xs:sequence><xs:element name="Nm" type="Max35Text"/></xs:sequence></xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="DbtrAcct" type="CmpsdIdt"/>
                                                    <xs:element name="RmtInf" type="xs:string" minOccurs="0"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>